@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&family=Protest+Strike&family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

:root {
  --white: #fceff9;
  --black: #08070880;
}
